{% if page.layout != '' %}
    {% layout page.layout %}
{% endif %}

<div class="page">
    <div class="container" style="padding: 3.125rem 0;">
    {% include 'breadcrumb' %}
    </div>
    {% include 'json-blocks' -%}
</div>
