<div class="glossary__sidebar">
    <ul class="nav flex-column">
      {%- assign glossary_links = linklists['Glossary'].links -%}
      {%- for link in glossary_links -%}
      <li class="nav__item">{% include 'glossary-left-menu-item' url: link.url, title: link.title %}</li>
      {%- endfor -%}
      {% include 'vc-vertical-banners' %}
    </ul>
</div>
